<!-- ポモロードに移動するリンク -->
<p>ポモロードタイマーを開始するには「kusoapuri」と入力して下さい。</p>
<form method="get" action="/pomodoro">
  <input type="text" name="command" placeholder="kusoapuri" required />
  <button type="submit">送信</button>
</form>
